<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <div th:replace="fragment/nav :: navFragment"></div>


        <div class="input-group mb-3" th:with="username=${#authentication.principal.username}">
            <input type="text" name="writer" class="form-control" placeholder="Writer" th:value="${username}" readonly>
        </div>



        <!-- Page Content-->
        <div class="content" align="center">
           <div><img src="../assets/logo.png" width="10%"></div>
            <div>
                신뢰성과 신속한 AS로 다수의 거래처를 확보한 회사입니다.
            </div>


               <table>
                   <tr>
                       <td><div  id="map" style="width:500px;height:400px;"></div></td>
                   </tr>
               </table>

            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=048d1da9f654abf5bbe33f294dabc1ec"></script>
            <script>
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(37.617573, 127.162627),
                    level: 2
                };

                var map = new kakao.maps.Map(container, options);
                // 마커가 표시될 위치입니다
                var markerPosition  = new kakao.maps.LatLng(37.617573, 127.162627);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);

                // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
                // marker.setMap(null);
            </script>

        </div>



        <<!-- sidebar-->
        <div th:replace="fragment/sidebar :: sidebarFragment"></div>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
