<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>

<head>
    <meta charset='utf-8' />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <link href="../css/styles.css" rel="stylesheet" />
    <style>
        /* 모달 스타일 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        .close:hover, .close:focus {
            color: black;
        }
    </style>
    <script layout:fragment="script" th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                //풀캘린더 설정
                initialView: 'timeGridWeek', //타임그리드
                nowIndicator: true,
                height: 600,
                aspectRatio: 2,
                slotDuration: '01:00:00', // 한 슬롯의 시간 간격을 2시간으로 설정
                slotLabelInterval: '01:00:00', // 슬롯 레이블 간격을 2시간으로 설정
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit'
                },
                slotMinTime: '10:00:00',    //시작시간
                slotMaxTime: '18:00:00',    //끝나는시간
                slotEventOverlap: false, // 이벤트가 겹치지 않도록 설정
                default: true,

                events: [
                    /*[# th:each="ascal : ${ascalList}"]*/
                    {
                        title: /*[[${ascal.ascalwriter}]]*/,
                        start: /*[[${ascal.ascaltime}]]*/,
                        end: /*[[${ascal.ascaltime}]]*/,
                    },
                    /*[/]*/
                ],


                // 이벤트 클릭 핸들러를 추가하여 이벤트 정보를 표시합니다.
                eventClick: function(info) {
                    var eventDetails = document.getElementById('eventDetails');
                    var eventTitle = document.getElementById('eventTitle');
                    var eventTime = document.getElementById('eventTime');

                    // 모달에 이벤트 정보 설정
                    eventTitle.textContent = '제목: ' + info.event.title;
                    eventTime.textContent = '시간: ' + info.event.start.toLocaleString();

                    // 이벤트 정보 모달을 표시
                    eventDetails.style.display = 'block';

                    var time = eventTime.textContent; // 시간 정보를 가져옴
                    var author = eventTitle.textContent;

                    var removeEventButton = document.getElementById('removeEventButton');
                    // 이벤트 삭제 버튼에 삭제 이벤트를 추가
                    removeEventButton.addEventListener('click', function () {
                        // 이벤트를 삭제하는 로직을 구현해야 합니다.

                        var data = JSON.stringify({
                            ascaltime: time
                        })

                        sendRemoveDataToServer(time);

                        // 여기서 읽어온 데이터를 서버로 전송 또는 처리
                        function sendRemoveDataToServer(data) {
                            var xhr = new XMLHttpRequest();
                            var url = "/ascal"; // 실제 서버 엔드포인트 URL로 수정해야 함

                            xhr.open("DELETE", url, true);

                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4) {
                                    if (xhr.status === 200) {
                                        // 서버에서 응답을 받았을 때 원하는 동작 수행
                                        console.log("서버 응답:", xhr.responseText);
                                        closeModal(); // 모달 닫기 또는 다른 작업 수행
                                    } else {
                                        // 서버 요청 실패 처리
                                        console.error("서버 요청 실패:", xhr.status, xhr.statusText);
                                    }
                                }
                            };

                            xhr.send(data);
                        }
                        // (AJAX 요청 또는 원하는 방식으로 데이터를 저장)
                        alert('작성 시간: ' + time + '\n글쓴이: ' + author);
                        closeEventDetails();
                    });

                        // info.event.id를 사용하여 이벤트를 식별하고 데이터 원본에서 삭제할 수 있습니다.
                        // 이벤트를 삭제한 후, 이벤트 정보 모달을 닫을 수 있습니다.

                        // 이벤트 정보 모달을 닫음
                        eventDetails.style.display = 'block';

                },
                //빈 시간 클릭
                dateClick: function(info) {
                    // 클릭한 슬롯의 날짜 및 시간 정보를 가져옴
                    var clickedDate = info.date;
                    var clickedTime = formatDateAndTime(clickedDate);

                    // 12시 슬롯 클릭 이벤트 처리
                    if (clickedDate.getHours() === 12) {
                        alert('12시 슬롯은 클릭할 수 없습니다.');
                        return;
                    }

                    // 모달 창 열기
                    openModal(clickedTime);
                }

            });
            calendar.render();
        });

        //데이터를  yyyy-MM-dd HH:mm:ss 형식으로 변환하는 함수
        function formatDateAndTime(date){
            var year =plusZero(date.getFullYear());
            var month = plusZero(date.getMonth() +1);
            var day = plusZero(date.getDate());
            var hours = plusZero(date.getHours());
            var minutes = plusZero(date.getMinutes());
            var seconds = plusZero(date.getSeconds());

            return year+'-'+month+'-'+day+'T'+hours+':'+minutes+':'+ seconds;
        }

        //시간이 01 이라면 앞에 0일 붙여주는 함수
        function plusZero(value) {
            return (value < 10 ? '0' : '') + value;
        }

        //작성 모달창
        function openModal(clickedTime) {
            var modal = document.getElementById('myModal');
            var modalContent = document.getElementById('modalContent');
            modal.style.display = 'block';

            var timeInput = document.getElementById('timeInput');
            var authorInput = document.getElementById('authorInput');
            var contentInput = document.getElementById('contentInput');
            var submitButton = document.getElementById('submitButton');

            // 모달 내용 초기화
            timeInput.value = clickedTime;
            //authorInput.value = '${#authentication.principal.username}'; // 실제 사용자 아이디 가져오기
            contentInput.value = '';

            // 게시물 작성 Post
            submitButton.addEventListener('click', function(e) {
                var time = timeInput.value;
                var author = authorInput.value;
                var content = contentInput.value;

                sendDataToServer(time, author, content);

                // 여기서 작성한 데이터를 서버로 전송 또는 처리
                function sendDataToServer(time,author,content) {
                    var xhr = new XMLHttpRequest();
                    var url = "/ascal"; // 실제 서버 엔드포인트 URL로 수정해야 함

                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-Type", "application/json");

                    var data = JSON.stringify({
                        ascaltime: time,
                        ascalwriter: author,
                        ascalText: content
                    });

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                // 서버에서 응답을 받았을 때 원하는 동작 수행
                                console.log("서버 응답:", xhr.responseText);
                                closeModal(); // 모달 닫기 또는 다른 작업 수행
                            } else {
                                // 서버 요청 실패 처리
                                console.error("서버 요청 실패:", xhr.status, xhr.statusText);
                            }
                        }
                    };

                    xhr.send(data);
                }
                // (AJAX 요청 또는 원하는 방식으로 데이터를 저장)
                alert('작성 시간: ' + time + '\n글쓴이: ' + author + '\n내용: ' + content);
                closeModal();
            }, false);
        }



        function closeModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = 'none';
        }

        function closeEventDetails() {
            var eventDetails = document.getElementById('eventDetails');
            eventDetails.style.display = 'none';
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<div th:replace="fragment/nav :: navFragment"></div>

<div id='calendar'></div>
<!--작성 모달 창 -->
<div id='myModal' class='modal'>
    <div class='modal-content'>
        <span class='close' onclick='closeModal()'>&times;</span>
        <div id='modalContent'>
            <label for='timeInput'>시간:</label>
            <input type='text' id='timeInput' disabled><br>
            <label for='authorInput'>글쓴이:</label>
            <input type='text' id='authorInput' th:value="${#authentication.principal.username}" disabled>
            <label for='contentInput'>내용:</label>
            <textarea id='contentInput' rows='4' cols='50'></textarea><br>
            <button type="button" id='submitButton' class="submitButton">작성</button>
        </div>
    </div>
</div>

<!--상세정보 모달창-->
<div id='eventDetails' class='modal'>
    <div class='modal-content'>
        <span class='close' onclick='closeEventDetails()'>&times;</span>
        <div id='eventDetailsContent'>
            <h2>예약 상세</h2>
            <p id='eventTitle'></p>
            <p id='eventTime'></p>
            <button id='removeEventButton'>이벤트 삭제</button>
        </div>
    </div>
</div>

<<!-- sidebar-->
<div th:replace="fragment/sidebar :: sidebarFragment"></div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>