<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>회원가입</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../css/styles.css" rel="stylesheet" />
</head>
<style>
  .mt-5 {
    margin-top: 100px; !important;
    margin-bottom: 100px; !important;
  }
</style>
<body>
<!-- Responsive navbar-->
<div th:replace="fragment/nav :: navFragment"></div>

<!-- Page Content-->
<div class="content container mt-5">
  <form id="registerForm" action="/member/join" method="post" th:object="${memberJoinDTO}">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">회원가입</h2>
        <table class="table">
          <tr>
            <th>아이디</th>
            <td>
              <input type="text" th:field="*{memberid}" placeholder="4~20자리 / 영문,숫자,특수문자 사용가능" class="form-control" required>
              <span th:errors="*{memberid}" class="text-danger"></span>
            </td>
          </tr>
          <tr>
            <th>비밀번호</th>
            <td><input type="password" th:field="*{memberpass}" placeholder="8~16자리 / 영문 소문자,숫자,특수문자 사용" class="form-control" required>
            <span th:errors="*{memberpass}" class="text-danger"></span>
            </td>
          </tr>
          <tr>
            <th>이름</th>
            <td><input type="text" th:field="*{membername}" placeholder="이름 입력" class="form-control" required>
            <span th:errors="*{membername}" class="text-danger"></span>
            </td>
          </tr>
          <tr>
            <th>이메일</th>
            <td><input type="email" th:field="*{memberemail}" placeholder="email@rental.com" class="form-control" required>
            <span th:errors="*{memberemail}" class="text-danger"></span>
            </td>
          </tr>
          <tr>
            <th>전화번호</th>
            <td><input type="tel" th:field="*{memberphone}" placeholder="'-'빼고 숫자만 입력" class="form-control" required>
            <span th:errors="*{memberphone}" class="text-danger"></span>
            </td>
          </tr>
          <tr>
            <th>주소</th>
            <td><input type="text" th:field="*{memberaddr}" placeholder="동까지만 입력" class="form-control" required>
            <span th:errors="*{memberaddr}" class="text-danger"></span>
            </td>
          </tr>
        </table>
        <div class="button d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">회원가입</button>
          <button type="reset" class="btn btn-secondary ml-2">취소</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

<script layout:fragment="script" th:inline="javascript">
  const error = [[${error}]]

  if(error && error == 'memberid') {
    alert("동일한 아이디가 존재합니다.")
  }
</script>


</body>
</html>
