<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>개인정보수정</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../css/styles.css" rel="stylesheet" />
</head>
<style>
  .mt-5 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
</style>
<body>
<!-- Responsive navbar-->
<div th:replace="fragment/nav :: navFragment"></div>

<!-- Page Content-->
<div class="content container mt-5">
  <form id="registerForm" th:action="@{/member/modify}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">회원가입</h2>
        <table class="table">
          <tr>
            <th>아이디</th>
            <td><input type="text" name="memberid" class="form-control" th:value="${dto.memberid}" readonly="readonly"></td>
          </tr>
          <tr>
            <th>비밀번호</th>
            <td><input type="password" name="memberpass" class="form-control" th:value="${dto.memberpass}"></td>
          </tr>

          <tr>
            <th>이름</th>
            <td><input type="text" name="membername" class="form-control" th:value="${dto.membername}" readonly="readonly"></td>
          </tr>
          <tr>
            <th>이메일</th>
            <td><input type="email" name="memberemail" class="form-control" th:value="${dto.memberemail}"></td>
          </tr>
          <tr>
            <th>전화번호</th>
            <td><input type="tel" name="memberphone" class="form-control" th:value="${dto.memberphone}"></td>
          </tr>
          <tr>
            <th>주소</th>
            <td><input type="text" name="memberaddr" class="form-control" th:value="${dto.memberaddr}"></td>
          </tr>
        </table>
        <div class="button d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">수정</button>
          <button type="reset" class="btn btn-secondary ml-2">취소</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

<script layout:fragment="script" th:inline="javascript">
  const error = '${error}';

  if (error && error === 'memberid') {
    alert("동일한 아이디가 존재합니다.");
  }


  /* Thymeleaf 코드로 alert를 포함시킴 */
  /* alert는 result가 success일 때만 뜸 */
  /* Thymeleaf의 조건문을 사용하여 result가 존재하고 그 값이 "success"일 때 alert를 띄움 */
  var result = /*[[${result}]]*/ null;
  console.log("modify result :" +result)
  if (result === "success") {
    alert("회원 정보가 성공적으로 수정되었습니다.");

    window.location.href = "/";
  }

</script>

</body>
</html>
