<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>nav</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>

<!-- Responsive navbar-->
<nav th:fragment="navFragment" class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container px-5">
        <a class="navbar-brand" href="/"><img src="../assets/logo.png" width="40%"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="introduce/introduce">회사소개</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">제품소개</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">상담문의</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">AS일정</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">렌탈회사</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>